body {
	background-color: #ECF3FD;
}

#content {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
}

.ui-state-default .icon-login {
	background-image: url(../images/login_16x16.png);
}